#appContainer{ 
    height:100%;
    width: 100%;
    right: 0%;
    left: 0%;
    position: fixed;
    
    
    }
#cardStyle{
    background-color: rgba(252, 252, 252, 0.4);
    box-shadow: 5px 3px 10px 5px red; 
            } 


            h1 { 
                font-size:40px;
                margin-top: px;
                margin-bottom: 0px;
                color: brown;
                text-align: center; 
                color: whitesmoke; 
                font-family:Georgia, 'Times New Roman', Times, serif; }














            



    












