<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="regForm" (ngSubmit)="register()">

                <div class="form-group">
                    <label for="name" class="fa fa-user"></label>
                    <input type="text" placeholder="entrez votre nom" formControlName="name">
                    <span class="text-danger" *ngIf="regForm.controls.name.errors && regForm.controls.name.touched">
                        <br>Le nom est requis
                    </span>
                </div>

                <div class="form-group">
                    <label for="mobileNumber" class="fa fa-mobile"></label>
                    <input type="tel" placeholder="numéro de téléphone" formControlName="mobileNumber">
                    <span class="text-danger" *ngIf="regForm.controls.mobileNumber.errors && regForm.controls.mobileNumber.touched">
                        <br>Numéro de portable invalide
                    </span>
                </div>

                <div class="form-group">
                    <label for="email" class="fa fa-envelope"></label>
                    <input type="email" placeholder=" Address Email" formControlName="email">
                    <span class="text-danger" *ngIf="regForm.controls.email.errors && regForm.controls.email.touched">
                        <br>Adresse e-mail invalide
                    </span>
                </div>

                <div class="form-group">
                    <label for="password" class="fa fa-lock"></label>
                    <input type="password" placeholder="Mot de passe" formControlName="password">
                    <span class="text-danger" *ngIf="regForm.controls.password.errors && regForm.controls.password.touched">
                        <br>Un mot de passe d'au moins 6 caractères est requis
                    </span>
                </div>

                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!regForm.valid">
                        S'inscrire
                    </button>
                </div>

                <div class="text-success" *ngIf="successMessage">
                    {{regForm.value.email}} mailId is {{successMessage}}
                </div>
                
            </form>
        </div>
    </div>
</div>