.footer {
    position: fixed;
    bottom: 0;
  
    
  }
  .te{
      background-color: #e6dbe9;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo {
    margin: 16px;
  }
  
  p {
    width: 80%;
    text-align: center;
    margin-bottom: 45px;
  }
  
  .medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #e6dbe9;
    cursor: pointer;
    position: relative;
  }







  /* CSS de la page d'accueil */


/* #panier {
  color: #F27405;
  background-color: #020B40;
  height: 3em;
}
#panier:hover{
  color: white;
  background-color: #9c27b0;
} */
/* panier */
.btn-panier {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn-panier.btn-primary {
  font-size: 16px;
  border: 2px solid #F27405;
  background: transparent;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 30px;
  color: #020B40;
}

.btn-panier.btn-primary:hover {
  background: transparent;
  color: #020B40;
  border-radius: 0;
  border: 2px solid #F27405;
}

.img-fluid {
  /* A utiliser avec class="img-fluid" à appliquer à chaque image déclarée dans le html, pour que toutes les images soient responsives */
  max-width: 100%;
  height: auto;
}

.carousel {
  font-family: 'Merienda', cursive;
}

.container {
  font-family: 'Merienda', cursive;
}

.bd-example {
  margin-top: 1.5rem;
  -moz-box-shadow: 0px 12px 15px 0px #000000;
  -webkit-box-shadow: 0px 12px 15px 0px #000000;
  -o-box-shadow: 0px 12px 15px 0px #000000;
  box-shadow: 0px 12px 15px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=15);
}

/* Barre Menu */
#menu {
  line-height: 100%;
  background-color: #ffffff;
  height: auto !important;
  width: 100% !important;
  -moz-box-shadow: 0px 12px 15px 0px #000000;
  -webkit-box-shadow: 0px 12px 15px 0px #000000;
  -o-box-shadow: 0px 12px 15px 0px #000000;
  box-shadow: 0px 12px 15px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=15);
}

.nav-link {
  font-family: 'Merienda', cursive;
  color: black;
  font-size: 1rem;
  text-align: center;
}

#textNavButton {
  font-family: 'Merienda', cursive;
  font-size: 1rem;
}

#textNavButton {
  background-color: rgba(242, 38, 19, 0.25)
}

@media screen and (max-width:991px) {
  .imgNavBar {
    display: none;
  }

  .bd-example {
    display: none;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.85);
}

/* home.html */
.rem {
  height: 1rem;
}

.card {
  font-family: 'Merienda', cursive;
}

h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #020B40;
  background-color: #F27405;
}

h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #020B40;
  background-color: #F27405;
}

#popArt {
  font-size: 1.25rem;
}

.Quantity {
  font-size: 1.25rem;
}

/* CSS des catégories */
.btn-primary {
  color: #fff;
  background-color: #F27405;
  border-color: #007bff
}

.btn-primary:hover {
  color: #fff;
  background-color: #9c27b0;
  border-color: #0062cc
}

#divKD, #divBG, #divGD, #more {
  font-size: 0.8rem;
  padding: 5% 10% 5% 10%;
}

.space {
  margin-bottom: 1rem;
}

.articleName {
  font-size: 1rem;
}

/* CSS du panier */


#wallPaperModal {
  margin: 0;
  padding: 0;
  /* background: url(images/backCart2.jpg) no-repeat center fixed; */
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
}

.keepShopping {
  background-color: #F27405;
  color: #020B40;
}

.pay {
  background-color: #020B40;
  color: #F27405;
}

.pay:hover {
  background-color: #9c27b0;
}

#deliver {
  background-color: rgba(2, 11, 64, 0.75);
}

#item {
  margin-bottom: 1rem;
}

#formInfo {
  font-size: 0.75rem;
}

/* CSS du Footer */
footer {
  width: 100%;
  height: auto;
}

#monster {
  margin-top: 0.2em;
}

.footer-title {
  font-size: 0.9rem;
  color: #020B40;
  font-weight: 700;
}

.footer-legis {
  font-size: 0.8rem;
  color: #020B40;
  margin-bottom: 0.1rem;
  margin-top: 0;
}

#infoColumn {
  font-size: 0.8rem;
  color: #020B40;
}

#map {
  border-radius: 8%;
}

.fa-transparent {
  color: transparent;
}

.footer-copyright {
  font-size: 0.8rem;
  color: #020B40;
  background-color: #F27405;
  font-family: 'Merienda', cursive;
}

li {
  list-style: none;
}

/* ***** Links ******/
a {
  text-decoration: none;
  color: #020B40;
  outline-style: none;
}

a:visited {
  color: #020B40;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #F27405;
}

/* Google Map Responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  /*aspect ratio 16:9 ==> 9/16x100 = 56.25*/
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Separator Demon Footer*/
.separatorDemon {
  background: linear-gradient(to right, #F27405, transparent, #F27405);
  height: 10%;
  width: 100%;
}

.separator {
  background-color: #000000;
  height: .06em;
  margin-bottom: .7em;
}

.separationMenu {
  clear: both;
  position: absolute;
  margin-top: 10px;
  margin-left: 250px;
  height: 200px;
  width: 5px;
  background: black;
}

/* Les Conditions de Vente*/
.conditions {
  font-size: 0.8rem;
  padding: 5% 10% 5% 10%;
}

.titreConditions {
  font-size: 0.9rem;
  color: #020B40;
  font-weight: 700;
}

hr {
  background-color: #F27405;
  width: 10em;
  height: 1px;
}

#fafa {
  color: white;
}

  