<div class="flex-column">
   
   
    <ul class="medias">
     <li class="bulle"><img src="./../.././assets/fb.svg" class="logo-medias" ></li>
     <li class="bulle"><img src="./../.././assets/insta.svg" class="logo-medias"></li>
     <li class="bulle"><img src="./../.././assets/yt.svg" class="logo-medias"></li>
     
   </ul>
   
   <iframe class="footer" width="560" height="315" src="https://www.youtube.com/embed/6dSKUoV0SNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
     <!-- <img class="footer" src="./../.././assets/logo-standing.png"/> -->
   </div>
   
   